.slick-dots li button:before {
    color: #4A4A4A; 
}

.slick-dots li.slick-active button:before {
    color: #1D4ED8; 
}


.slick-dots li button:before {
    font-size: 12px; 
    line-height: 1; 
    color: #4A4A4A; 
}

.slick-dots li.slick-active button:before {
    color: #1D4ED8; 
}

.slick-dots li button {
    width: 16px; 
    height: 16px; 
}